<div class="container text-white">
  <form #registerForm ="ngForm" (ngSubmit)="register()">
      <h1 class="text-center">Register</h1>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
       class="form-control"
       name="username"
        id="username"
        placeholder="Enter username"
        [(ngModel)]="model.username" 
        #username="ngModel"
        required
         />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password"
       class="form-control"
        id="confirmPassword"
         placeholder="Confirm Password"
         name="password"
        [(ngModel)]="model.password" 
        #password="ngModel"
        required
         />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Email Address</label>
      <input type="email"
       class="form-control"
        id="exampleInputEmail"
         placeholder="Email"
         name="email"
         [(ngModel)]="model.email" 
         #email="ngModel"
         required
         />
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="username">Age</label>
      <input type="number"
       class="form-control"
       name="age"
        [(ngModel)]="model.age" 
        #age="ngModel"
       />
    </div>
    
    <button type="submit" class="btn bg-light" [disabled]="registerForm.form.invalid">Submit</button>
  </form>
  <div *ngIf="loginFailed" class="alert alert-danger">
    {{errorMessage}}
  </div>

</div>

